@model Pluralsight.AspNetDemo.Controllers.ForgotPasswordModel

<h1>Forgot Password</h1>
<hr/>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <p>Username: @Html.TextBoxFor(x => x.Username)</p>
    <input value="Submit" type="submit" class="btn"/>
}