@model Pluralsight.AspNetDemo.Controllers.PasswordResetModel

<h1>Password Reset</h1>
<hr/>
@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post))
{
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.Token)
    <p>New Password: @Html.PasswordFor(x => x.Password)</p>
    <input value="Submit" type="submit" class="btn"/>
}