@model Pluralsight.AspNetDemo.Controllers.TwoFactorModel

<h1>Two Factor Authentication</h1>
<hr/>
@using (Html.BeginForm("TwoFactor", "Account", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Provider)
    <p>Code: @Html.TextBoxFor(x => x.Code)</p>
    @Html.CheckBoxFor(x => x.RememberBrowser)
    <input class="btn" value="Submit" type="submit"/>
}